.globalControls table {
    
}
.globalControls table td:nth-child(1) {
    width: 15em;
}
.globalControls table td:nth-child(2) {
    width: 20em;
}
.globalControls table td:nth-child(3) {
    width: 6em;
}
.globalControls table td:nth-child(4) {
    width: 6em;
}


/* The Modal (background) */
.pwModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.pwModalContent {
    background-color: Azure;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 0.2em;
    border: 1px solid Cyan;
    width: 15em; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.pwClose {
    color: DimGray;
    float: right;
    font-size: 4em;
    font-weight: bold;
}

.pwClose:hover,
.pwClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.pwAdminTextBox {
    width : 14em;
}



.channels table th {
    text-align: center;
}
.channels table th {
    background-color: #f5f5f5;
}
.channels table td:nth-child(1) {
}
.channels table td:nth-child(2) {
    width: 4em;
    border: 1px solid grey;
    text-align: center;
}
.channels table td:nth-child(3) {
    width: 2em;
}
.channels table td:nth-child(4) {
    width: 19em;
    text-align: center;
}

.statusNone {
    background-color: LightGray;
}
.statusGood {
    background-color: green;
}
.statusBad {
    background-color: coral;
}

.uuidButton {
  -webkit-border-radius: 0.7em;
  -moz-border-radius: 0.7em;
  border-radius: 0.7em;
  font-family: "Courier New";
  color: white;
  font-size: 0.8em;
  padding: 0.1em 0.1em 0.1em 0.1em;
  text-decoration: none;    
}
.uuidButtonAvailable {
  background: DodgerBlue;
}
.uuidButtonAvailable:hover {
  background: DeepSkyBlue;
}
.uuidButtonEnabled {
  background: Green;
}
.uuidButtonEnabled:hover {
  background: LimeGreen;
}
.uuidButtonOff {
  background: LightSteelBlue;
}
.uuidButtonOff:hover {
  background: LightGray;
}

.uuidButtonClosed {
  background: DarkCyan;
}
.uuidButtonClosedOff {
  background: Gray;
}


.menu {
    width: 10em;
    background: GhostWhite;
    box-shadow: 0.2em 0.3em 0.5em DimGray;
    border-style: solid;
    border-width: 0.1em;
    border-color: grey;
    border-radius: 0.2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    position: fixed;
    display: none;
}

.menu-item {
    height: 1.5em;
}

.menu-item:hover {
    background-color: LavenderBlush;
    cursor: pointer;
}

.countDigits {
    text-align: right;
    padding-right: 1em;
}

/* Hide until implemented */
#headphones {
    visibility: hidden;
}


.qrShow {
    visibility: visible !important;
    opacity: 1 !important;
}
/* QR code display box*/
.qrBox {
    opacity: 0;
    display: block;
    visibility: hidden;
    z-index: 1;
    background-color: white;
    position: fixed;
    top: 10%;
    left: 10%;
    /* bring your own prefixes */
    /* transform: translate(-50%, -50%); */
    box-shadow: 0em 0.5em 1em 0em rgba(0,0,0,0.2);
}
/* QR Object */
.qrObj {
    max-width : 50em;
}
